/* .smile {
    background-color: rgb(27, 19, 176);
    width: 150px;
    height: 120px;
    margin: 60px;
    border-radius: 1500px;

}
.eye {
    width: 40px;
    height: 40;
    margin: 100;
    
}
.my-header {
    color:red
}

div{
    background-color: yellow
} */
html,
body {
    height: 100%;
    margin: 0;
}
body {
    background: rgb(227, 131, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 3px solid black;
    background: green;
}